<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Your question</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input [(ngModel)]="searchQuestion" [ngModelOptions]="{standalone: true}" type="text" nbInput fullWidth placeholder="Type your question here">
          <button type="button" (click)="submitSearch()" nbButton status="primary"><nb-icon icon="search-outline"></nb-icon>Search</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Search Result</nb-card-header>
      <nb-card-body>
        <div class="text-placeholder">
          <article>
            <h2 name="answerTitle" > {{answerTitle}} </h2>
            <nb-option *ngFor="let ans of answer">
              <p class="answerContent" > {{ans}} </p>
              <br>
            </nb-option>
          </article>
          <div *ngIf="validRes" class="button-holder">
            <button type="button" (click)="modifyAnswer()" nbButton status="primary">Modify Answer</button>
            <button type="button" (click)="deleteQuestion()" nbButton status="primary">Delete Question</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
