<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header><h2>Make your contribution here!</h2></nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="question" class="label">Question</label>
            <input type="text" nbInput fullWidth id="question"
                   placeholder="Target object of your question, such as 'heart disease'"
                   disabled="{{isUpdate}}"
                   [(ngModel)]="question.param1" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="type" class="label">
              Type
            </label>
            <input type="text" nbInput fullWidth id="type"
                   placeholder="Question type, such as 'disease_symptom'"
                   disabled="{{isUpdate}}"
                   [(ngModel)]="question.type" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="supportAns" class="label">Your Answer</label>
            <textarea rows="12" nbInput fullWidth id="supportAns"
                      placeholder="Type or copy your answer here"
                      [(ngModel)]="rawAnswer" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <button type="submit" nbButton status="primary" (click)="submit()">
            <nb-icon icon="paper-plane-outline"></nb-icon>Commit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
