nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
  height: 2rem;
}

.form-inline button {
  height: 2rem;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

form input {
  border-radius: 3px;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
