<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header><h2>Ask your question here!</h2></nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <label for="question" class="label">Question</label>
            <input type="text" nbInput fullWidth id="question"
                   placeholder="Question start with 'what' or 'how' is recommended"
                   [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="supportAns" class="label">Detail Description</label>
            <textarea rows="16" nbInput fullWidth id="supportAns"
                      placeholder="Your detail description here"
                      [(ngModel)]="detail" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <button type="submit" nbButton status="primary" (click)="askQuestion()">
            <nb-icon icon="paper-plane-outline"></nb-icon>Commit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
