
<div class="row">
  <div class="col-md-12">
    <nb-card class="list-card" size="tiny">
      <nb-card-header><h4>Question</h4></nb-card-header>
      <nb-card-body>
        <div class="text-placeholder">
          <article>
            <h2 name="question" > {{title}} </h2>
            <p name="detail" > {{detail}} </p>
          </article>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="list-card" size="giant">
      <nb-card-header><h4>Answers</h4></nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let answer of answers">
            <nb-card class="list-card" size="{{getCardSize(answer.detail)}}" style="width: 100%; padding: 5px; border-width: 0px">
              <nb-card-header>
                <span class="username"><strong>{{answer.email.split('@')[0]}}</strong></span>
                <span class="email"><u>{{answer.email}}</u></span>
              </nb-card-header>
              <nb-card-body>
                <div class="text-placeholder ans-detail">
                  <article>
                    {{answer.detail}}
                  </article>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="list-card" size="medium">
      <nb-card-header><h4>Your Answer Here!</h4></nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group">
            <textarea rows="10" nbInput fullWidth id="supportAns"
                      placeholder="Type or copy your answer here"
                      [(ngModel)]="userAnswer" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <button type="button" nbButton status="primary" (click)="submitAns()">
            <nb-icon icon="paper-plane-outline"></nb-icon>Commit
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
